h1{
  @include mqSP{
    font-size:20px; 
  }
}

h2{
  font-size: 18px;
  margin-bottom: 40px;
  position: relative;
  &::after {
    content: "";
    width: 35px;
    border-bottom: 1px solid #000;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  @include mqSP{
    font-size: 14px;
    margin-bottom: 28px;
    .news & {
      padding-bottom: 12px;
    }
  }
}