.header-inner{
  height: 54px;
  width: calc-vw(280,320);
  margin: 0 auto;
  position: relative;
  @include mqSP{
  }
  h1{
    display: inline-block;
    a{
      display: inline-block;
      margin-top: 10px;
    }
  }
}