/* ----------------------------
* trigger
* -------------------------- */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 20px;
  height: 15px;
  float: right;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $c_k;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 7px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger span:nth-of-type(1) {
  .is-open & {
    -webkit-transform: translateY(7px) rotate(-45deg);
    transform: translateY(7px) rotate(-45deg);
  }
}
.menu-trigger span:nth-of-type(2) {
  .is-open & {
    opacity: 0;
  }
}
.menu-trigger span:nth-of-type(3) {
  .is-open & {
    -webkit-transform: translateY(-7px) rotate(45deg);
    transform: translateY(-7px) rotate(45deg);
  }
}

/* ----------------------------
* content
* -------------------------- */
.menu-content{

  @include mqSP{
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    
    right: 0;
    opacity: 0;
    transition: .5s;
    position: fixed;
    width: 100%;
    height: calc(100% - 55px);
    color: $c_k;
    background-color: $c_w;
    pointer-events: none;
    .is-open & {
      pointer-events: inherit;
    }
    
    top: 54px;
    
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 14px;
//      pointer-events: none;
      font-size: 16px;
      height: 50%;
        
      .is-open &{
        pointer-events: inherit;
      }
    }
    li{
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    a{
      color: #000;
      line-height: 1.25;
      transition: opacity .2s ease;
      span{
        display: inline;
        margin: 0 auto;
        position: relative;
      }

    }
    .is-open &{
      height: calc(100% - 55px);
      border-top: 1px solid #f2f2f2;
      padding-top: 50px;
      opacity: .9;
    }
    
    .menu-utility-sns{
      li{
        display: inline-block;
        font-size: 16px;
        margin: 7px;
      }
    }
    .copyright{
      position: absolute;
      bottom: 70px;
    }
    .is-current > a{
      text-decoration: none;
      border-bottom: 1px solid;
      padding-bottom: 2px;
    }
  }
}