.page-top {
}

.page-list {
  background-color: $c_w;
}

.page-detail {
  background-color: $c_w;
}

.page-registration {
  background-color: $c_w;
}

.page-login {
  background-color: $c_w;
}

.page-reminder {
  background-color: $c_w;
}

.page-mypage {
  background-color: $c_w;
}

.page-list_gift {
  background-color: #EEEFF0; //TODO
  .l-aside {
    background-color: $c_w;
  }
}
.page-detail_gift {
  .l-aside {
    background-color: $c_w;
  }
}